<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<title>Insert title here</title>
<style>
	#openBtn, #closeBtn {
		display: block;
		margin: auto;
		margin-right: 8%;
	}
</style>
</head>
<body>
	<button type="button" id="openBtn" class="btn btn-dark">보이기</button>
	<button type="button" id="closeBtn" class="btn btn-dark">숨기기</button>
	<br>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr class="table-primary">
					<th>boardNum</th>
					<th>boardType</th>
					<th>boardTitle</th>
					<th>creator</th>
					<th>creatorTime</th>
					<th>modifier</th>
					<th>modifiedTime</th>
				</tr>
			</thead>
			<tbody class="test">
			</tbody>
		</table>
	</div>
	<script>
		$(function() {
			$('#openBtn').click(function() {
				$.ajax({
					type: 'GET',							// get타입으로 요청하고
					url: 'http://localhost:8081/abcAjax',	// 해당 url주소를 요청하고
					success: function(data) {				// javaScript는 타입을 구별하지 않는다. (변수만 쓰는 이유)
						// console.log('list=> ', data)
						var html = '';
						for (var i = 0; i < data.length; i++) {
							html += '<tr><td>' + data[i].boardNum + '</td>';
							html += '<td>' + data[i].boardType + '</td>';
							html += '<td>' + data[i].boardTitle + '</td>';
							html += '<td>' + data[i].creator + '</td>';
							html += '<td>' + data[i].creatorTime + '</td>';
							html += '<td>' + data[i].modifier + '</td>';
							html += '<td>' + data[i].modifiedTime + '</td></tr>';
						}
						$('.test').html(html);
					},
					error: function(a, b, c) {
						alert('ajax_fail ' + a + b + c);
					}
				}); // btn ajax end
			});	// btn function end
			
			$('tbody').click(function() {
				$.ajax({
					type: 'GET',
					url: 'http://localhost:8081/commAjax',
					success: function(data){
						alert(data.boardNum);
					},
					error: function(a,b,c){
						alert('error test');
					}
				}); // tbody ajax end
			}); // tbody function end
		}); // function end
		
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
	crossorigin="anonymous"></script>
</body>
</html>